html.default-layout
  background-color: #fff
  color: #333
  font-family: sans-serif
  height: 100%
  min-height: 100%

  *
    box-sizing: border-box

  body
    height: 100%
    margin: 0

  .page-header
    nav
      display: flex
      flex-direction: column
      background-color: #ddd
      box-shadow: 0 2px 2px rgba(#000, 0.1)
      .page-logo,
      .menu-item
        display: block
      .page-logo
        background: linear-gradient(lighten(#e81b39, 1%), darken(#e81b39, 1%))
        box-shadow: 0 2px 2px rgba(#000, 0.1)
        color: #fff
        height: 50px
        padding: 0 20px
        svg
          height: 100%
          width: 148px
      .menu-item
        a
          border-radius: 5px
          color: #000
          display: block
          text-decoration: none
          line-height: 50px
          padding: 0 20px
          .label
            line-height: 50px
        .social-icon
          padding-left: 50px
          position: relative
          svg
            height: 20px
            left: 20px
            position: absolute
            top: 50%
            transform: translateY(-50%)
            path
              fill: #000

    @media (min-width: 600px)
      nav
        flex-direction: row
        padding: 0 20px
        background: linear-gradient(lighten(#e81b39, 1%), darken(#e81b39, 1%))
        .page-logo
          flex-grow: 1
          box-shadow: none
          padding: 0
        .menu-item
          line-height: 50px
          & + .menu-item
            margin-left: 10px
          a
            color: #fff
            display: inline-block
            line-height: 1
            padding: 8px 10px
            text-shadow: 1px 1px 1px rgba(#000, 0.1), -1px -1px 1px rgba(#000, 0.1), 1px 0 1px rgba(#000, 0.1), 0 1px 1px rgba(#000, 0.1)
            transition: background-color 100ms ease-in-out
            &:hover
              background-color: rgba(#fff, 0.2)
            .label
              line-height: 1
          .social-icon
            padding-left: 40px
            svg
              left: 10px
              path
                fill: #fff
        .menu-item-primary
          order: 1

  $footer-height: 130px
  $footer-color: #fafafa

  .page-footer-positioner
    margin-bottom: -$footer-height
    min-height: 100%
    &:after
      content: ""
      display: block
      height: $footer-height

  .page-footer
    align-content: flex-start
    align-items: flex-start
    background: $footer-color
    box-shadow: inset 0 2px 2px rgba(#000, 0.03)
    display: flex
    flex-direction: column
    flex-wrap: wrap
    height: $footer-height
    justify-content: center
    .social-icon
      color: #000
      margin: 7px 10px 0 10px
      opacity: 0.4
      text-decoration: none
      transition: opacity 100ms ease-in-out
      .label
        border-bottom: 2px transparent solid
        display: inline-block
        line-height: 1
        text-shadow: 1px 1px 0 $footer-color, -1px -1px 0 $footer-color, -1px 1px 0 $footer-color, 1px -1px 0 $footer-color
        transition: border-bottom-color 100ms ease-in-out
      &:hover
        opacity: 0.9
        .label
          border-bottom-color: rgba(#000, 0.5)
      svg
        height: 20px
        margin: 3px 5px 5px 10px
        vertical-align: middle

  @media (min-width: 400px)
    $footer-height: 100px

    .page-footer-positioner
      margin-bottom: -$footer-height
      &:after
        height: $footer-height

    .page-footer
      align-content: center
      align-items: center
      flex-direction: row
      height: $footer-height
